<main>
    <p>Firstname: <%= user.firstname %></p>
    <p>Lastname: <%= user.lastname %></p>
    <p>Email: <%= user.email %></p>
    <p>Password: <%= user.password %></p>
    <p>Subscription: <%= user.subscription %></p>
    <p>Birth: <%= user.dob %></p>
    <p>Country: <%= user.country %></p>
    <p>City: <%= user.city %></p>
    <p>ZIP: <%= user.zip %></p>
    <p>Adress: <%= user.adress %></p>
    <p>Additional adress: <%= user.additional_adress %></p>
</main>